:root {
  --background-color: rgb(244, 244, 244);
}

.center {
  display: grid;
  place-items: center;
}

.products {
  color: rgb(0, 0, 0);
  background-color: rgb(244, 244, 244);
  padding: 60px 0;
}

.products-title {
  height: 50px;
  h2 {
    font-size: 28px;
    font-weight: 650;
    line-height: 50px;
  }
}

.filters {
  height: 100%;
  button {
    padding: 0 15px;
    height: 36px;
    border-radius: 17px;
    border: 2px solid rgba(0, 0, 0, 0.557);
    margin-top: 7px;
    font-size: 14px;
    font-weight: 600;
    transition-duration: 0.2s;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.4;
    }
  }
  button + button {
    margin-left: 10px;
  }
}

.active {
  opacity: 0.5;
  background-color: rgb(192, 192, 192);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.product {
  position: relative;
  margin-top: 10px;
  figure {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    img {
      width: 180px;
      max-height: 100%;
    }
  }
}

.product-info {
  padding: 10px 0;
  width: 100%;
  h3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
  }
  p {
    font-size: 13px;
    font-weight: 550;
    opacity: 0.6;
    user-select: none;
  }
}

.fav {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  svg {
    width: 20px;
    height: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
    &:hover {
      color: rgb(206, 75, 97);
    }
  }
}

.add-to-cart {
  width: 120px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 17px;
  border: 2px solid rgba(0, 0, 0, 0.557);
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  transition-duration: 0.2s;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.4;
  }
}

.grey {
  color: rgb(195, 195, 195);
}

.gold {
  color: rgb(0, 61, 41);
}

.star {
  width: 14px;
  height: 14px;
  margin-top: 2px;
  &:last-of-type {
    margin-right: 6px;
  }
}