.todo-item-comp-container {
  width: 300px;
  display: flex;
  align-items: center;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  height: 80px;
  margin-bottom: 20px;
}

.todo-item-comp-container .todo-item-comp-line {
  width: 3px;
  height: 100%;
  margin-right: 10px;
}
.todo-item-comp-container .todo-item-comp-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-item-comp-container .todo-item-comp-main-title {
  font-size: 18px;
}
.todo-item-comp-container .todo-item-comp-main-title-input {
  font-size: 18px;
  border: 1px solid #666;
  border-radius: 5px;
}

.todo-item-comp-container .todo-item-comp-main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #666;
  font-size: 14px;
}
.todo-item-comp-container .t-i-c-m-f-utils {
  display: flex;
  font-size: 16px;
}
.todo-item-comp-container .t-i-c-m-f-utils svg {
  margin-left: 6px;
  cursor: pointer;
}
