.add-comp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-top: 30px;
  padding: 5px 10px;
  border-radius: 5px;
}
.add-comp-container .add-comp-input {
  width: 300px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  border: none;
}
.add-comp-container .add-comp-button {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  background: #9218ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
